@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        align-content: center;
        background: #0008;
        display: grid;
        height: 100dvh;
        justify-content: center;
        position: absolute;
        width: 100dvw;
    }

    .button_close {
        align-self: end;
        height: 40px;
        justify-self: end;
        width: 40px;
    }

    .button_send {
        background: var(--Theme__block__background_accent);
        border-radius: var(--Theme__block_rounding);
        padding: calc(var(--Theme__block__padding) - 10px);
        text-align: center;
        &:active {
            background: var(--Theme__block__background);
        }
    }

    .button_check {
        margin-top: 20px;
        background: var(--Theme__block__background_accent);
        border-radius: var(--Theme__block_rounding);
        padding: calc(var(--Theme__block__padding) - 10px);
        text-align: center;
        &:active {
            background: var(--Theme__block__background);
        }
    }


    .root {
        align-content: center;
        align-items: center;
        background: var(--Theme__block__background_accent_dark);
        border-radius: var(--Theme__block_rounding);
        display: grid;
        justify-content: center;
        justify-items: center;
        padding: var(--Theme__block__padding);
    }

    .text {
        text-align: center;
    }
}
