@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .airdrop {
        aspect-ratio: 1;
        background: #fff;
        border-radius: 100%;
        display: block;
        height: 45px;
        justify-self: end;
        object-fit: cover;
        padding: 7px;
    }

    .balanses {
        display: grid;
        grid-auto-flow: column;
        grid-column: 1 / -1;
    }

    .profit {
        display: grid;
        grid-auto-flow: column;
    }

    .balanse {
        border: 1px solid var(--Theme__block__background_accent);
        padding: 3px;


        &:first-child {
            border-radius:  var(--Theme__block_rounding) 0px 0px  var(--Theme__block_rounding);
        }
        &:last-child {
            background: var(--Theme__block__background_accent);
            align-items: center;
            border-radius: 0px  var(--Theme__block_rounding)  var(--Theme__block_rounding) 0px;
            display: flex;
            justify-content: center;
        }
        &:nth-of-type(2n) {
            border-left: none;
            border-right: none;
        }
    }

    .balanse_value {
        /* font-size: 18px; */
        text-align: center;
    }

    .balanse_subtitle {
        font-size: 10px;
        text-align: center;
    }

    .profit_item {
        align-items: center;
        border: 1px solid var(--Theme__block__background_accent);
        display: flex;
        /* height: 1em; */
        justify-content: center;
        padding: 5px;

        &:first-child {
            border-radius:  var(--Theme__block_rounding) 0px 0px  var(--Theme__block_rounding);
        }
        &:last-child {
            background: var(--Theme__block__background_accent);
            border-radius: 0px  var(--Theme__block_rounding)  var(--Theme__block_rounding) 0px;
        }
    }

    .auto_velocity::after {
        content: ' б/с';
    }

    .bonus_ref::before {
        content: ' +';
    }

    .root {
        align-items: center;
        display: grid;
        grid-gap: 7px 40px;
        grid-template: repeat(2, 1fr) / auto 60px;
        justify-items: stretch;
        line-height: 1em;
        /* padding: var(--Theme__block__padding) 5%; */
    }
}
