@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        display: block;
        height: 100px;
        width: 200px;
    }

    :host([button_reset]) {
        .button_reset {
            display: grid;
        }
    }


    .button {
        align-content: center;
        background: var(--Theme__block__background_accent);
        display: grid;
        justify-content: center;
    }

    .button_increment {
        border-radius: 0 var(--Theme__block_rounding) var(--Theme__block_rounding) 0;
    }

    .button_decrement {
        border-radius: var(--Theme__block_rounding) 0 0 var(--Theme__block_rounding);
    }

    .button_reset {
        display: none;
        grid-area: 2 / 2 / 2 / 2;
    }

    .counter_value {
        align-items: center;
        background: var(--Theme__block__background);
        display: grid;
        justify-items: center;
    }

    .root {
        display: grid;
        /* grid-gap: 5%; */
        grid-template: repeat(2, 1fr) / 1fr 2fr 1fr;
        height: 100%;
        width: 100%;
    }
}
