@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        background: var(--Theme__block__background);
        position: sticky;
    }

    :host([button_active = '0']) {
        .progressBar {
            background: linear-gradient(to right, var(--Theme__block__background_accent) 0% 25%, var(--Theme__block__background_light) 25%);
        }
    }

    :host([button_active = '1']) {
        .progressBar {
            background: linear-gradient(to right, var(--Theme__block__background_light) 25%, var(--Theme__block__background_accent) 25% 50%, var(--Theme__block__background_light) 50%);
        }
    }

    :host([button_active = '2']) {
        .progressBar {
            background: linear-gradient(to right, var(--Theme__block__background_light) 50%, var(--Theme__block__background_accent) 50% 75%, var(--Theme__block__background_light) 75%);
        }
    }

    :host([button_active = '3']) {
        .progressBar {
            background: linear-gradient(to right, var(--Theme__block__background_light) 75%, var(--Theme__block__background_accent) 75%);
        }
    }

    .button {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-gap: 3px;
        font-size: 13px;
        padding: 7px;
        padding-bottom: 0;

        &[_active] {
            .button__icon .svg__fill {
                fill: var(--Theme__block__background_accent);
            }

            .button__icon {
                stroke: var(--Theme__block__background_accent);
            }

            .button__title {
                color: var(--Theme__block__background_accent);
            }
        }
    }

    .button__icon .svg__fill {
        fill: #ddd;
    }

    .button__icon {
        aspect-ratio: 1;
        display: block;
        height: 35px;
        stroke: #ddd;
    }

    .progressBar {
        background: #555;
        grid-area: 1 / 1 / 1 / -1;
        height: 2px;
    }

    .root {
        display: grid;
        grid-template: repeat(2, auto) / repeat(4, 1fr);
        /* grid-gap: 5px; */
        line-height: 1.5em;
    }
}
