@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .leafable {
        &::part(item) {
            height: 100%;
        }
    }

    .root {
        display: grid;
        grid-template-rows: min-content auto min-content;
        height: 100dvh;
    }
}
