@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        /* padding: 20px; */
        /* padding-bottom: 0px; */
        display: contents;
        border: 1px solid #000;
    }

    .avatar {
        aspect-ratio: 1;
        background: #aaf;
        border-radius: 100%;
        height: 30dvh;
        object-fit: cover;
        pointer-events: none;
    }

    .button_active_subscribe {
        background: var(--Theme__block__background_accent);
    }

    .button_leval {
        align-self: start;
        aspect-ratio: 1;
        background: var(--Theme__button__background);
        border-radius: 100%;
        height: 40px;
        padding: 7px;
        position: relative;
        top: -20px;
    }

    .control_panel {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 40px;
        align-self: end;
    }

    .control_panel__item {
        width: 40dvw;
        text-align: center;
        border-radius: var(--Theme__block_rounding);
    }

    .leval_current::before {
        content: '+';
    }

    .leval_current {
        font-size: 24px;
        font-weight: 500;
    }

    .root {
           /* align-content: center; */
        align-items: center;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 30dvh 60px auto auto;
        height: 100%;
        justify-content: center;
        justify-items: center;
        padding: 30px 0;
    }

    .time_active_subscribe {
        background: var(--Theme__button__foreground);
        color: #111;
    }
}
