@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        padding: 20px;
    }

    .avatar {
        aspect-ratio: 1;
        background: #aaf;
        border-radius: 100%;
        height: 250px;
    }

    .root {
        align-content: center;
        align-items: center;
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    .button_leval {
        aspect-ratio: 1;
        background: var(--Theme__button__background);
        border-radius: 100%;
        cursor: pointer;
        height: 45px;
        padding: 7px;
        position: relative;
        top: -20px;
    }

    .leval_current::before {
        content: '+';
    }

    .control_panel {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 40px;
        padding: 30px 0px;
    }

    .control_panel__item {
        width: 40dvw;
        text-align: center;
        border-radius: 15px;
    }

    .button_active_subscribe {
        background: var(--Theme__block__background_accent);
        cursor: pointer;
    }

    .time_active_subscribe {
        background: var(--Theme__button__foreground);
        color: #111;
    }
}
