@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        width: 100%;
    }

    /* .display { */
    /*     --Flickable__scrollBar__width: 0; */
    /*     overflow: hidden; */

    /*     &::part(content) { */
    /*         display: block; */
    /*     } */

    /*     &::part(display) { */
    /*         border-radius: var(--Theme__block_rounding); */
    /*     } */
    /* } */

    .repeater {
        display: grid;
        gap: 20px;
        width: 100%;
    }

    .control_button {
        aspect-ratio: 1;
        background: var(--Theme__block__background_accent);
        border-radius: var(--Theme__block_rounding);
        box-sizing: border-box;
        height: 40px;
        padding: 7px;

    }

    .control_panel {
        justify-self: end;
    }

    .head {
        align-items: center;
        display: grid;
        grid-auto-flow: column;
    }

    .root {
        background: var(--Theme__block__background_accent_dark);
        border-radius: var(--Theme__block_rounding);
        box-sizing: border-box;
        display: grid;
        gap: 25px;
        grid-template-rows: min-content auto;
        height: 100%;
        padding: var(--Theme__block__padding);
    }

    .title {
        background: var(--Theme__block__background_accent);
        border-radius: var(--Theme__block_rounding);
        padding: 5px;
        text-align: center;
        width: 50%;
    }
}
