@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        --animation: all 0.4s ease-in-out;

        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: #333d;
        z-index: 1;

        /* &() { */
        /*     opacity: 0; */
        /* } */
    }

    :host([animation]) {
        transition: var(--animation);
        transition-property: opacity;
    }

    :host(:not([active])) {
        opacity: 0;
    }


    .button_close {
        aspect-ratio: 1;
        height: 30px;
        left: calc(100dvw - 30px - 2* var(--Theme__block__padding));
        position: relative;
    }

    .root {
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block_rounding);
        border-top: 3px solid var(--Theme__block__background_accent);
        height: 80%;
        padding: var(--Theme__block__padding);
        position: relative;
        top: 100%;
        transition: var(--animation);
        transition-property: top;

        :host([active]) & {
            top: 20%;
        }
    }
}
