@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .content {
        /* padding-top: 20px; */
        line-height: 1.2em;
        padding: var(--Theme__block__padding) 0;
        text-align: center;
    }

    /* .copying { */
    /*     padding-bottom: 0; */
    /* } */

    .root {
        display: grid;
        grid-template-rows: min-content min-content auto;
        height: 100%;
    }

    .table {
        overflow: hidden;
    }
}
