@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    .content {
        padding-bottom: 40px;
        text-align: center;
    }

    .copying {
        padding-bottom: 0;
    }

    .root {
        /* align-items: center; */
        /* grid-template-rows: auto auto 1fr; */
        /* justify-items: center; */
        display: grid;
        grid-template-rows: min-content min-content auto;
        height: 100%;
    }

    .table {
        overflow: hidden;
    }
}
