@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        position: absolute;
        background: #afa;
    }

    .expression::after {
        content: ' = ?';
    }
}
